spring:
  application:
    name: seat-inventory-service
  datasource:
    url: jdbc:h2:mem:movieBookingDb
    driver-class-name: org.h2.Driver
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    database-platform: org.hibernate.dialect.H2Dialect
  sql:
    init:
      mode: always
  h2:
    console:
      enabled: true



server:
  port: 8082

